
.map-page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background: #f6f9fc;
}

.selector-section {
    display: flex;
    flex-direction: column;

    gap: 16px;

    padding: 0 16px 24px;
}

.map-section {
    flex: 1;

    padding: 0 16px 24px;
}